@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

%font-bold {
  font-family: "Inter";
  font-style: normal;
}
%font-base {
  font-family: "Arial";
  font-style: normal;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body {
  background: url("../../public/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: repeat-x;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
header {
  width: 1440px;
  display: flex;
  top: 0;
  margin: 0 auto;
  justify-content: space-between;
  h1 {
    @extend %font-bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-top: 45px;
  }

  span {
    @extend %font-bold;
    font-weight: 700;
    font-size: 50px;
    line-height: 116px;
    position: fixed;
    top: 15;
    left: 70%;
    width: 100%;
    z-index: 100;
  }
  /* настройки для узких экранов */
  @media (max-width: 768px) {
    span {
      position: static; /* сброс позиции для узких экранов */
      background-color: #333; /* изменение цвета фона */
    }
  }
  .timer-span {
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    padding: 22px 25px 25px 25px;
    overflow: hidden;
    width: 225px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
    height: 100px;
    padding: 0 15px 15px 12px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 1440px;
  padding-top: auto;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  article {
    span {
      @extend %font-base;
      font-weight: 400;
      font-size: 32px;
    }
    p {
      @extend %font-base;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    .main_text {
      width: 740px;
    }
    h1 {
      @extend %font-bold;
      text-align: center;
    }
  }

  .q_one_answer {
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0 25px 25px 25px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);

    p {
      @extend %font-base;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }

    .q_one_answer_btn {
      display: flex;

      button {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 8px;
        margin-right: 15px;
        background: rgba(89, 173, 103, 0.8);
        cursor: pointer;
        padding: 8px;
        border-radius: 15px;
        border-style: none;
        //Текст
        span {
          @extend %font-base;
          color: white;
          font-weight: 400;
          font-size: 20px;
          padding: 5px;
        }
      }
      :hover {
        -webkit-transform: scale(1.02);
        -ms-ransform: scale(1.02);
        transform: scale(1.02);
        transition: transform 0.2s ease;
      }
      .selected {
        background-color: #216463;
      }
    }
  }
  .CloseTest {
    display: flex;
    @extend %font-bold;
    width: 300px;
    height: 70px;
    margin-top: 50px;
    margin-left: auto;
    background: rgba(218, 51, 59, 0.8);
    cursor: pointer;
    border-radius: 15px;
    border-style: none;
    align-items: center;
    span {
      margin: auto;
      text-align: center;
      font-size: 20px;
      color: white;
    }
  }
}

.q_input_answer {
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0 25px 25px 25px;
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  0 2px 6px 2px rgba(60, 64, 67, 0.15);
  @extend %font-bold;

  .q_between_input_answer_block {
    @extend %font-base;
    display: flex;
    flex-direction: row;

    span {
      margin-left: 15px;
      margin-right: 15px;
    }
    input {
      @extend %font-bold;
      text-align: center;
      background: #59ad6780;
      border-radius: 8px;
      height: 45px;
      width: 300px;
      color: white;
    }
    button {
      @extend %font-bold;
      margin-left: 5px;
      margin-top: auto;
      width: 60px;
      height: 50px;
      background: rgba(89, 173, 103, 0.5);
      border-radius: 8px;
      border: white;
      color: white;
      cursor: pointer;
    }
    :hover {
      -webkit-transform: scale(1.02);
      -ms-ransform: scale(1.02);
      transform: scale(1.02);
      transition: transform 0.2s ease;
    }
    [disabled] {
      background-color: #216463;
    }
  }
  .q_input_answer_block {
    @extend %font-base;

    display: flex;
    flex-direction: row;
    span {
      margin-left: 15px;
      margin-right: 15px;
    }
    input {
      @extend %font-bold;
      text-align: center;
      background: #59ad6780;
      border-radius: 8px;
      height: 100px;
      width: 300px;
      color: white;
    }
    button {
      @extend %font-bold;
      margin-left: 5px;
      margin-top: auto;
      width: 60px;
      height: 50px;
      background: rgba(89, 173, 103, 0.5);
      border-radius: 8px;
      border: white;
      color: white;
      cursor: pointer;
    }
    :hover {
      -webkit-transform: scale(1.02);
      -ms-ransform: scale(1.02);
      transform: scale(1.02);
      transition: transform 0.2s ease;
    }
    [disabled] {
      background-color: #216463;
    }
  }
}
.card_comparison_questions {
  display: flex;

  div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    width: 178px;
    height: 178px;
    background: rgba(89, 173, 103, 0.8);
    cursor: pointer;
    border-radius: 15px;
    //Текст
    span {
      @extend %font-base;
      margin: 0 auto;
      color: white;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }
  }
  :hover {
    -webkit-transform: scale(1.02);
    -ms-ransform: scale(1.02);
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
}
h1 {
  text-align: center;
  @extend %font-base;
}
.main_card_test {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  div {
    align-items: center;
    text-align: center;
    margin-right: 15px;
    background: rgba(89, 173, 103, 0.7);
    cursor: pointer;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
  }
  :hover {
    -webkit-transform: scale(1.02);
    -ms-ransform: scale(1.02);
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
  @extend %font-bold;
  color: white;
  font-size: 16px;
}
.header_form {
  display: flex;

  h1 {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  label {
    @extend %font-bold;
    margin-bottom: 5px;
  }
  input {
    @extend %font-bold;
    text-align: center;
    background: rgba(89, 173, 103, 0.5);
    border-radius: 8px;
    height: 35px;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }

  .submit {
    @extend %font-base;
    margin-top: 15px;
    font-size: 20px;
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: rgba(89, 173, 103, 0.8);
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  :hover {
    -webkit-transform: scale(1.02);
    -ms-ransform: scale(1.02);
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
}
.custom-loader {
  margin: 0 auto;
  --r1: 154%;
  --r2: 68.5%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(
                  var(--r1) var(--r2) at top,
                  #0000 79.5%,
                  #59ad67 80%
  ),
  radial-gradient(var(--r1) var(--r2) at bottom, #59ad67 79.5%, #0000 80%),
  radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #59ad67 80%),
  #ffffff;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: p9 2s infinite linear;
}



@keyframes p9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.test_results {
  @extend %font-bold;
  background-color: white;
  font-size: 24px;
  width: 60%;
  padding: 25px;
  margin-top: 10%;
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 0.5rem;
  overflow: hidden;
}
.form_page {
  @extend %font-bold;
  background-color: white;
  font-size: 24px;
  width: 37%;

  padding: 25px;
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 0.5rem;
  overflow: hidden;
}