@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

%font-bold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

%font-base {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: url("../../public/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: repeat-x;
}

input {
  border: none;
}

header {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;

  h1 {
    @extend %font-bold;
    font-size: 32px;
    line-height: 1.2;
    margin-top: 0;
  }

  span {
    @extend %font-bold;
    font-size: 50px;
    line-height: 1.2;
    position: fixed;
    top: 15px;
    left: 70%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
  }

  /* настройки для узких экранов */
  @media (max-width: 768px) {
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
    span {
      position: static;
      background-color: #333;
    }
  }

  .timer-span {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    width: 225px;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px rgba(60, 64, 67, 0.15);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  padding-top: 20px;
 .main_card_test{
   margin: 0 auto;
   width: 50%;
    div{
      @extend %font-base;
      font-size: 20px;
      margin-top: 15px;
      text-align: center;
      padding: 15px;
      background-color: #fff;
      border: 0.0625rem solid #dadce0;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }

 }
  article {
    span {
      @extend %font-base;
      font-size: 32px;
      line-height: 1.2;
    }

    p {
      @extend %font-base;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
    }

    .main_text {
      max-width: 740px;
      margin: 0 auto;
    }

    h1 {
      @extend %font-bold;
      text-align: center;
      margin: 0;
    }
  }

  .q_one_answer {
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0 25px 25px 25px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);

    p {
      @extend %font-base;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }

    .q_one_answer_btn {
      display: flex;

      button {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 8px;
        margin-right: 15px;
        background: rgba(89, 173, 103, 0.8);
        cursor: pointer;
        padding: 8px;
        border-radius: 15px;
        border-style: none;
        //Текст
        span {
          @extend %font-base;
          color: white;
          font-weight: 400;
          font-size: 20px;
          padding: 5px;
        }
      }

      :hover {
        -webkit-transform: scale(1.02);
        -ms-ransform: scale(1.02);
        transform: scale(1.02);
        transition: transform 0.2s ease;
      }

      .selected {
        background-color: #216463;
      }
    }
  }


  /* настройки для узких экранов */
  @media (max-width: 768px) {
    width: 90%;

    header{
      h1{
        display: none;
      }
    }
    .q_one_answer {

      p {
        font-family: Inter;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
      }
      .q_one_answer_btn{
      button {

        span {
          font-size: 15px;
          padding: 3px;
        }
      }
      }
    }
    .q_one_answer_btn {
      flex-direction: column;
    }
    .q_input_answer{
      font-size: 15px;
      .q_between_input_answer_block{
        flex-direction: column;

        input{
          width: 100%;
        }
        button{
          width: 90%;
          margin: 0 auto;
        }
      }
    }
    main {
      section {
        h1 {
          font-size: 15px;
        }

        p {
          font-size: 10px;
        }
      }
    }
    .CloseTest{
      width: 100%;
    }
  }
}

.CloseTest {
  display: flex;
  @extend %font-bold;
  width: 300px;
  height: 70px;
  margin-top: 50px;
  margin-left: auto;
  background: rgba(218, 51, 59, 0.8);
  cursor: pointer;
    border-radius: 15px;
    border-style: none;
    align-items: center;
    span {
      margin: auto;
      text-align: center;
      font-size: 20px;
      color: white;
    }
  }


.q_input_answer {
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0 25px 25px 25px;
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  0 2px 6px 2px rgba(60, 64, 67, 0.15);
  @extend %font-bold;

  .q_between_input_answer_block {
    @extend %font-base;
    display: flex;
    flex-direction: row;

    span {
      margin-left: 15px;
      margin-right: 15px;
    }

    input {
      @extend %font-bold;
      text-align: center;
      background: #59ad6780;
      border-radius: 8px;
      height: 45px;
      width: 300px;
      color: white;
    }

    button {
      @extend %font-bold;
      margin-left: 5px;
      margin-top: auto;
      width: 60px;
      height: 50px;
      background: rgba(89, 173, 103, 0.5);
      border-radius: 8px;
      border: white;
      color: white;
      cursor: pointer;
    }

    :hover {
      -webkit-transform: scale(1.02);
      -ms-ransform: scale(1.02);
      transform: scale(1.02);
      transition: transform 0.2s ease;
    }

    [disabled] {
      background-color: #216463;
    }
  }

  .q_input_answer_block {
    @extend %font-base;

    display: flex;
    flex-direction: row;

    span {
      margin-left: 15px;
      margin-right: 15px;
    }

    input {
      @extend %font-bold;
      text-align: center;
      background: #59ad6780;
      border-radius: 8px;
      height: 100px;
      width: 300px;
      color: white;
    }

    button {
      @extend %font-bold;
      margin-left: 5px;
      margin-top: auto;
      width: 60px;
      height: 50px;
      background: rgba(89, 173, 103, 0.5);
      border-radius: 8px;
      border: white;
      color: white;
      cursor: pointer;
    }

    :hover {
      -webkit-transform: scale(1.02);
      -ms-ransform: scale(1.02);
      transform: scale(1.02);
      transition: transform 0.2s ease;
    }

    [disabled] {
      background-color: #216463;
    }
  }
}

h1 {
  text-align: center;
  @extend %font-base;
}

.header_form {
  display: flex;

  h1 {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;

  label {
    @extend %font-bold;
    margin-bottom: 5px;
  }

  input {
    @extend %font-bold;
    text-align: center;
    background: rgba(89, 173, 103, 0.5);
    border-radius: 8px;
    height: 35px;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }

  .submit {
    @extend %font-base;
    margin-top: 15px;
    font-size: 20px;
    height: 45px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: rgba(89, 173, 103, 0.8);
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  :hover {
    -webkit-transform: scale(1.02);
    -ms-ransform: scale(1.02);
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
}

.custom-loader {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-color: #59AD67 #0000;
  animation: s6 1s infinite linear;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}

.custom-loader::before {
  border-color: #59AD67 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.custom-loader::after {
  margin: 16px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn)
  }
}

.test_results {
  @extend %font-bold;
  background-color: white;
  font-size: 24px;
  width: 60%;
  padding: 25px;
  margin-top: 10%;
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 2rem;
  overflow: hidden;
}

.form_page {
  @extend %font-bold;
  font-size: 24px;

  form {
    width: 700px;
    padding: 50px;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.14);
    border-radius: 2rem;
    overflow: hidden;
  }

  input {
    color: white;
    outline: none;
    margin-top: 15px;
    width: 100%;
  }

  ::placeholder {
    color: white;
  }
}
